<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 服务器自定义名称 -->
    <dubbo:application name="UserService"/>

    <!-- 声明注册中心地址 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!-- 服务器的bean添加到web容器 -->
    <bean id="userService" class="com.xiaoshan.service.impl.UserServiceImpl"/>

    <!-- 暴露服务 -->
    <dubbo:service interface="com.xiaoshan.service.UserService" ref="userService"/>


</beans>