<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshan.mapper.MovieMapper">
  <resultMap id="BaseResultMap" type="com.xiaoshan.entity.Movie">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
    <result column="director_name" jdbcType="VARCHAR" property="directorName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from movie
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaoshan.entity.Movie">
    insert into movie (id, movie_name, director_name, 
      user_id)
    values (#{id,jdbcType=INTEGER}, #{movieName,jdbcType=VARCHAR}, #{directorName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xiaoshan.entity.Movie">
    update movie
    set movie_name = #{movieName,jdbcType=VARCHAR},
      director_name = #{directorName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, movie_name, director_name, user_id
    from movie
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, movie_name, director_name, user_id
    from movie
  </select>
</mapper>