<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd"><!-- dtd验证 -->
<configuration>

    <settings>
        <!-- 将数据库中下划线风格的命名映射为java中驼峰命名风格 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 给java类的完全限定名创建别名 -->
    <!--<typeAliases>
        <typeAlias type="完全限定名" alias="别名"/>
    </typeAliases>-->

    <!-- 分页插件 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>


    <!--  default默认选择哪个数据库 (可以配置多个environment) -->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <!-- 池化 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///test"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 加载主配置文件时会把 mappers里面的xml加载了-->
    <mappers>
        <!-- 配置mapper文件的classpath加载路径 -->
        <mapper resource="mapper/movieMapper.xml"/>
        <mapper resource="mapper/movieoneMapper.xml"/>
    </mappers>

</configuration>